<div id="app">
  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>

  <h2>Add New Student:</h2>
  <div>
    First Name: <input v-model="newStudentFirstName">
    Last Name: <input v-model="newStudentLastName">
    House: <input v-model="newStudentOriginalHouse">
    <button v-on:click="addStudent()">Add Student</button>
  </div>

  <div v-for="student in students">
    <h3>{{ student.full_name }}</h3>
    <p>from {{ student.original_house }}</p>

  </div>
</div>